[Container]
ContainerName=jellyfin
Image=docker.io/jellyfin/jellyfin:latest
AutoUpdate=registry
PublishPort=8096:8096/tcp
UserNS=keep-id

Volume=/mnt/orico_a/containers/jellyfin/config:/config:Z
Volume=/mnt/orico_a/containers/jellyfin/cache:/cache:Z

Volume=/mnt/orico_a/media_movies:/movies:ro,Z
Volume=/mnt/orico_a/media_shows:/shows:ro,Z
Volume=/mnt/orico_a/media_videos:/videos:ro,Z

[Service]
Restart=on-failure
SuccessExitStatus=0 143

[Install]
#WantedBy=multi-user.target
WantedBy=default.target
