[Container]
ContainerName=navidrome
Image=docker.io/deluan/navidrome:latest
AutoUpdate=registry
PublishPort=4533:4533/tcp
UserNS=keep-id

# Internal volumes (managed by Podman)
#Volume=navidrome-data:/data:Z
Volume=/mnt/orico_a/containers/navidrome/data:/data:Z
# External bind mount for media
#Volume=/mnt/das/data/media/music:/media:ro,Z

# External bind mount for media
Volume=/mnt/orico_a/media_music:/media:ro,Z

[Service]
# Make systemd treat exit code 143 (SIGTERM) as normal
SuccessExitStatus=0 143

[Install]
WantedBy=default.target
