[Container]
ContainerName=qbittorrent
Image=lscr.io/linuxserver/qbittorrent:latest
AutoUpdate=registry
PublishPort=9900:8080/tcp
PublishPort=6881:6881/tcp
PublishPort=6881:6881/udp
#UserNS=keep-id

Volume=/mnt/orico_a/containers/qbittorrent/config:/config:Z
Volume=/mnt/orico_a/data_downloads/qbittorrent:/downloads:Z

[Service]
Restart=on-failure
SuccessExitStatus=0 143

[Install]
#WantedBy=default.target
WantedBy=multi-user.target
