#[Unit]
#Description=stash container
#[Container]
#ContainerName=stash
#Image=docker.io/stashapp/stash:latest
#AutoUpdate=registry
#PublishPort=9999:9999/tcp
#UserNS=keep-id:uid=1000,gid=1000
#Volume=stash-config:/config:Z
#Volume=stash-cache:/cache:Z
#Volume=%h/stash-media:/media:ro,Z
#[Service]
#Restart=always
#SuccessExitStatus=0 143
#[Install]
#WantedBy=default.target

[Container]
Image=docker.io/stashapp/stash:latest
ContainerName=stash
AutoUpdate=registry
PublishPort=9999:9999

#Environment=STASH_STASH=/data/
#Environment=STASH_GENERATED=/generated/
#Environment=STASH_METADATA=/metadata/
#Environment=STASH_CACHE=/cache/
#Environment=STASH_PORT=9999

# Volumes
#Volume=/etc/localtime:/etc/localtime:ro,Z
#Volume=stash-config:/root/.stash:Z
#Volume=stast-metadata:/metadata:Z
#Volume=stash-cache:/cache:Z
#Volume=stash-blobs:/blobs:Z
#Volume=stash-generated:/generated:Z

#Volume=/etc/localtime:/etc/localtime:ro,Z

Volume=/mnt/orico_a/containers/stash/config:/root/.stash:Z
Volume=/mnt/orico_a/containers/stast/metadata:/metadata:Z
Volume=/mnt/orico_a/containers/stash/cache:/cache:Z
Volume=/mnt/orico_a/containers/stash/blobs:/blobs:Z
Volume=/mnt/orico_a/containers/stash/generated:/generated:Z

Volume=/mnt/orico_a/media_xxx:/data:ro,Z

[Service]
Restart=always
SuccessExitStatus=0 143

[Install]
WantedBy=default.target
