[Container]
Image=docker.io/stashapp/stash:latest
ContainerName=stash
AutoUpdate=registry
PublishPort=9999:9999

Volume=/mnt/orico_a/containers/stash/config:/root/.stash:Z
Volume=/mnt/orico_a/containers/stast/metadata:/metadata:Z
Volume=/mnt/orico_a/containers/stash/cache:/cache:Z
Volume=/mnt/orico_a/containers/stash/blobs:/blobs:Z
Volume=/mnt/orico_a/containers/stash/generated:/generated:Z

#Volume=/mnt/orico_a/media_xxx:/data:ro,Z
Volume=/mnt:/data:Z

[Service]
Restart=always
SuccessExitStatus=0 143

[Install]
WantedBy=default.target
