[Container]
Image=docker.io/stirlingtools/stirling-pdf:latest
AutoUpdate=registry
PublishPort=8888:8080

# Volume mounts
Volume=/mnt/orico_a/containers/stirlingpdf/tessdata:/usr/share/tessdata:Z
Volume=/mnt/orico_a/containers/stirlingpdf/config:/configs:Z
Volume=/mnt/orico_a/containers/stirlingpdf/customFiles:/customFiles:Z
Volume=/mnt/orico_a/containers/stirlingpdf/logs:/logs:Z
Volume=/mnt/orico_a/containers/stirlingpdf/pipeline:/pipeline:Z

# Environment variables
Environment=DISABLE_ADDITIONAL_FEATURES=true
Environment=LANGS=en_GB

[Service]
Restart=always

[Install]
WantedBy=default.target
